* {
	margin: 0;
	padding: 0;
}

:root {
	--main-bg-color: #fffff0;
	--second-bg-color: #adb889;
}

.mainBody {
	height: 85vh;
	background-color: var(--main-bg-color);
}

.mainFooter {
	height: 10vh;
	background-color: var(--second-bg-color);
	display: flex;
	justify-content: space-between;
}

#weather {
	margin-left: 2rem;
	display: flex;
	align-items: center;
}

#temp {
	font-size: 3rem;
	font-weight: 400;
	margin-right: 0.5rem;
}

#description,
#location {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 300;
	border-left: 1px solid black;
	padding-left: 0.5rem;
}

.dateText {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#date {
	font-size: 1.2rem;
	margin-right: 2rem;
}

#timeContainer {
	align-self: center;
}

.spotifyContainer {
	margin-left: 2rem;
}

.spotify {
}
